<style>
     

 /* Stop navigation bar */
 .navbar 
    {
        overflow: hidden;
        background-color: rgb(15, 15, 15);
        margin-top:104px;
        position: fixed;
        z-index: 0;
   
    }

    
    /*  navigation bar links */
    .navbar a 
    {
        
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    
    /* Right-aligned link */
    .navbar a.right 
    {
        float: right;
    }
    

    /* Change color on hover */
    .navbar a:hover {
        background-color: red;
        color: rgb(189, 181, 181);
    }
    .dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


    </style>
    
    <body>
    
        <div class="navbar">   
            <div class="dropdown">
            <button class="dropbtn">Broadband Usage 
            <i class="fa fa-caret-down"></i>    
            </button>
            <div class="dropdown-content">
            <a href="http://localhost:4200/broadband">BroadBand Details</a>
            <a href="http://localhost:4200/comparisonbroad">Comparison</a>
            </div>
            </div>
            
            <a href="http://localhost:4200/telecomparison">Telephone Bill Comparison</a>
            <a href="http://localhost:4200/mysim">My SIM</a>
            <a href="#home">Home</a>
            </div>
    </body>
