<style>

    input[type=text],input[type="month"],input[type="number"], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */  
        border: 1px solid #ccc; /* Gray border */
        border-radius: 1px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 4px; /* Add a top margin */
        margin-bottom: 20px; /* Bottom margin */
        /*resize: vertical  Allow the user to vertically resize the textarea (not horizontally) */
        }
  
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
  
        input[type=submit]:hover {
            background-color: #45a049;
        }
  
        .container {
            border-radius: 5px;    
            margin-left: 250px;
            margin-top: 220px;
            margin-bottom: 50px;
            width: 30%;
            background-color: #8a8a8a;
            padding: 20px;
            position:absolute;
            z-index: -2;
        }
  
        label{
        display: block;
        }
  
            /* this is nav bar  */
    ul {
        list-style-type: none;
        margin-top:104px;
        margin-left:0px;
        position: fixed;
        width: 100%;
        /* margin-left:180px; */
        overflow: hidden;
        background-color: #333;
        z-index: -1;
    }
  
    li {
        float: right;
    }
  
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 7px 16px;
        /* padding: 14px 16px; */
        text-decoration: none;
    }
  
    li a.active
    {
    background-color: #ff0000;
        
    color: rgb(255, 255, 255);
    }
  
  
    li a:hover {
        background-color: rgb(247, 0, 0);
        /* background-color: #111; */
    }
  /* form title */
  title{
        text-align: center;
        position: relative;
  
    }
     h2{
       
        margin-top:150px;
        margin-bottom: 10px;
        position: absolute;
        margin-left: 650px;
        z-index: -2;
  
     }
  
  /* Table css */
  table {
      border-collapse: collapse;
      width: 40%;
      margin-left: 800px;
      margin-top: 250px;
      margin-bottom: 80px;
      /* Add these two lines */
      position:absolute;
      z-index: -2;
      /* position: left; */
  }
  
  th, td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  
  th{
      background-color: darkgrey;
  }
  
  tr:hover {background-color:#f5f5f5;}
  
  </style>
  
  <body>
  
  <ul>    
        <li><a routerLinkActive="active" routerLink="../vehicle">Vehicle</a></li>
        <li><a routerLinkActive="active" routerLink="../installment">Installment</a></li>
        <li><a routerLinkActive="active" routerLink="../home-garden">Home & Garden</a></li>
        <li><a routerLinkActive="active" routerLink="../medicine">Medicine</a></li>
</ul>
      
    <div class="title">
        <h2 align="center"> Enter Details to View Monthly Installment </h2>
    </div>
    <form *ngIf="selectedUser()">
        <div class="container">
        
            <label for="object">Object Name</label>
            <input type="text" placeholder="Object Name" [(ngModel)] = "selectedUser().object" name = "object" required>

          <label for="serialNum">Serial Number</label>
            <input type="text" placeholder="Serial Number (Optional)" [(ngModel)] = "selectedUser().serialno" name = "serialno">
              
          <label for="amount">Total Amount</label>
            <input type="number" placeholder="Enter the total amount of the product" [(ngModel)] = "selectedUser().amount" name = "amount" required>
        
              <label for="years">Years</label>
            <input type="number" placeholder="Enter the amount of years to divide the payment" [(ngModel)] = "selectedUser().years" name = "years"required>

            <label for="years">Down Payment</label>
            <input type="number" placeholder="Enter the initial amount paid" [(ngModel)] = "selectedUser().downpayment" name = "downpayment"required>
              
              <label for="intRate">Interest Rate</label>
            <input type="number" placeholder="Enter the interest rate for the product" [(ngModel)] = "selectedUser().intrate" name = "intrate"required>
            
              <label for="amtPerMonth">Amount per Month</label>
            <input type="number" [(ngModel)] = "selectedUser().amtpermonth" name = "amtpermonth" >
              
              <label for="amtRemaining">Amount Remaining</label>
            <input type="number" [(ngModel)] = "selectedUser().amtremaining" name = "amtremaining" >
              
    
        
            <!-- <input type="submit" value="Calculate" onclick = "calculate()"> -->
            <button (click)="calculate()" type="button" class="btn btn-success">Calculate</button>
            <button (click)="adduser()" type="button" class="btn btn-success">Add New</button>
            <button (click)="saveUser(event)" type="button" class="btn btn-success">Save</button>
 
            </div>
          </form>

      <table>
        <tr>
          <th>Object</th>
          <th>Amount</th>
          <th>Years</th>
          <th>Down payment</th>
          <th>Interest Rate</th>
          <th>Amount per month</th>
        </tr>
  
        <tr (click)="selectUser($index)" *ngFor="let item of values; index as $index">
          <td>{{item.object}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.years}}</td>
          <td>{{item.downpayment}}</td>
          <td>{{item.intrate}}</td>
          <td>{{item.downpayment}}</td>
          <!-- <td>
              <button class="btn btn-primary" (click)="deletebill()"> Edit </button>      
              <button class="btn btn-danger"> Delete </button>
          </td> -->
   
      </tr>
  
         <!-- <tr>
            <td>
                  (click)="loadData($event)"
              <button >Click to Read</button>
            </td>
            <td><p>{{mydata}}</p></td>
        </tr> -->
        
      </table>

      <!-- <script language="text/javascript">
          function calculate(form){

            var no = document.getElementById('amount').value;
            
          var no1 = this.form.amount;
          var no2= this.form.downpayment;

          var sum = no1 + no2;
            return sum;

          }

      </script> -->
      </body>