
  
  <body >

      <div class="header"> </div>
  
  
      <ul>
             <li><a class="active" href="#home">Home</a></li>
             <li><a href="#news">News</a></li>
             <li><a href="#contact">Contact</a></li>
             <li><a href="#about">About</a></li>
     </ul>

     <!-- <div>
            <img src="assets/Images/bg.jpg">
      </div> -->

  
      <div class="sidenav">
              <a class="active" href="home">Home</a>
              <a href="">Electricity Bill</a>
              <a href="">Water Bill</a>
              <a href="">Telephone Bill</a>
              <a href="">Data Bill</a>
              <a href="">Insurance Bill </a>
              <a href="">Other Bills</a>
              <a href="">Solar Energy</a>
              <a href="billmanager"> Bill Manager</a>
          </div>

  
        <div class="footer">
                <p>Copyright ©SLIIT-PDM-2018-WD-19. All Rights Reserved.</p>
            </div>
          
  </body>
