<style>
    body {
        font-family:  Arial, Helvetica, sans-serif;
  
    }
        /*this is for top banner 4to  */
     .header{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 190%;
      height: 104px;
      /* height: 100px; */
      width: 100%;
      margin-top: -30px;
      /* margin-top: -20px; */
      margin-left: 0px;
      font-style: oblique;
      background-image: url("assets/Images/banner.jpg");
    } 
  
     .header h1 
      {
      font-size: 40px;
      }
    
    .sidenav {
        height: 100%;
        width: 180px;
        /* width: 220px; */
        position: fixed;
        z-index: 1;
        top: 94px;
        left: 0;
        background-color: #d1d1d4;
        overflow-x: hidden;
        padding-top: 0px;
    }
    
    .sidenav a {
        /* padding: 6px 6px 13px 30px; */
        padding: 6px 6px 5px 10px;
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
         /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 16px;
        color: #000000;
        display: block;
    }
    
    .sidenav a:hover {
        background-color: rgb(163, 172, 164);
        color: #ffffff;
    }
  
    .sidenav a.active {
      background-color: rgb(3, 192, 34);
      color: white;
    }
    
    .main {
        margin-left: 230px; /* Same as the width of the sidenav */
        margin-top: 30px; 
       
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
  input[type=text],input[type="date"],input[type="number"], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */  
      border: 1px solid #ccc; /* Gray border */
      border-radius: 1px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      /*resize: vertical  Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  input[type=submit]:hover {
      background-color: #45a049;
  }
  
  .container {
      border-radius: 5px;    
      margin-left: 300px;
      margin-top: 10px;
      width: 40%;
      background-color: #f2f2f2;
      padding: 20px;
  }
  
  label{
    display: block;
  }
  
  button:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  button{
    background-color:rgb(3, 192, 34);
    
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 0px;
      margin-left:0px;
      /* margin-left:220px; */
      overflow: hidden;
      background-color: #333;
  }
  
  li {
      float: right;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 7px 16px;
      /* padding: 14px 16px; */
      text-decoration: none;
  }
  
  li a:hover {
      background-color: rgb(247, 0, 0);
      /* background-color: #111; */
  }

  
      
  </style>
  
  <body >

      <div class="header"> </div>
  
  
      <ul>
             <li><a class="active" href="#home">Home</a></li>
             <li><a href="#news">News</a></li>
             <li><a href="#contact">Contact</a></li>
             <li><a href="#about">About</a></li>
     </ul>

     <!-- <div>
            <img src="assets/Images/bg.jpg">
      </div> -->

  
      <div class="sidenav">
              <a class="active" href="home">Home</a>
              <a href="">Electricity Bill</a>
              <a href="">Water Bill</a>
              <a href="">Telephone Bill</a>
              <a href="">Data Bill</a>
              <a href="">Insurance Bill </a>
              <a href="">Other Bills</a>
              <a href="">Solar Energy</a>
              <a href="billmanager"> Bill Manager</a>
          </div>

          
  </body>
