<body>

<div class="header"> </div>
      
      
<ul>
       <li><a class="active" href="#home">Home</a></li>
       <li><a href="#news">News</a></li>
       <li><a href="#contact">Contact</a></li>
       <li><a href="#about">About</a></li>
</ul>


<div class="sidenav">
        <a class="active" href="home">Home</a>
        <a href="">Electricity Bill</a>
        <a href="">Water Bill</a>
        <a href="">Telephone Bill</a>
        <a href="">Data Bill</a>
        <a href="">Insurance Bill </a>
        <a href="">Other Bills</a>
        <a href="">Solar Energy</a>
        <a href="billmanager"> Bill Manager</a>
</div>


<div class="container"> 
  <form action="/action_page.php">

    <label for="country">Bill Type</label>
    <select id="type" name="type">
      <option value="electricity">Electricity</option>
      <option value="water">Water</option>
      <option value="telwphone">Telephone</option>
    </select>

    <label for="acountnum">Account Number</label>
    <input type="text" id="acountnum" name="acountnum" placeholder="Account Number" required>

    <label for="Date">Date</label>
    <input type="date" id="date" name="date" required>

    <label for="unitConsume">Number of Units Consumed</label>
    <input type="text" id="unitConsume" name="unitConsume" placeholder="Enter the number of units" required>

    <label for="unitsCharge">Charge for consumed units(Rs:)</label>
    <input type="number" id="unitsCharge" name="unitsCharge" placeholder="Enter the charge (Rs:)" required>

    <label for="image">Add Image</label>
    <input type="image" id="image" name="name" >

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

    <input type="submit" value="Add Bill">
  </form>
</div>


<div class="footer">
    <p>Copyright ©SLIIT-PDM-2018-WD-19. All Rights Reserved.</p>
</div>

</body>