<style>
  input[type=text],input[type="month"],input[type="number"],input[type="password"],input[type="NIC"],input[type="Address"],input[type="email"] select, textarea {
         width: 100%; /* Full width */
         padding: 12px; /* Some padding */  
         border: 1px solid #ccc; /* Gray border */
         border-radius: 1px; /* Rounded borders */
         box-sizing: border-box; /* Make sure that padding and width stays in place */
         margin-top: 4px; /* Add a top margin */
         margin-bottom: 20px; /* Bottom margin */
         /*resize: vertical  Allow the user to vertically resize the textarea (not horizontally) */
         }
 
         button[type=submit],[type=reset],[type=button] {
             background-color: #4CAF50;
             color: white;
             padding: 12px 20px;
             border: none;
             border-radius: 4px;
             cursor: pointer;
         }
 
         button[type=submit],[type=reset],[type=button]:hover {
             background-color: #45a049;
         }
 
         .container {
             border-radius: 5px;    
             margin-left: 250px;
             margin-top: 120px;
             margin-bottom : 50px;
             width: 30%;
             background-color: #8a8a8a;
             padding: 20px;
             position:absolute;
             z-index: -1;
         }
 
         label{
         display: block;
         }
 
          /* Table css */
   table {
       border-collapse: collapse;
       width: 50%;
       margin-left: 750px;
       margin-top: 250px;
       margin-bottom: 80px;
       /* Add these two lines */
       position:absolute;
       z-index: -2;
       /* position: left; */
   }
   
   th, td {
       padding: 8px;
       border: 1px solid #ddd;
       text-align: left;
       border-bottom: 1px solid #ddd;
   }
   
   th{
       background-color: darkgrey;
   }
   
   tr:hover {background-color:#f5f5f5;}
 
 
   </style>
   
   <form *ngIf="selectedUser()" >
     <div class="container">
       <h1>Sign Up</h1>
       <p>Please fill in this form to create an account.</p>
   
       
       <label for="username"><b>User Name</b></label>
       <input type="text" placeholder="Enter User Name" [(ngModel)] = "selectedUser().name" name="username" required>
       
       <label for="email"><b>Email</b></label>
       <input type="text" placeholder="Enter Email"  [(ngModel)] = "selectedUser().email" name="email" required>
 
       <label for="password"><b> Password</b></label>
       <input type="password" placeholder="Password"  [(ngModel)] = "selectedUser().password" name="password" required>
 
       <label for="address"><b> Address</b></label>
       <input type="address" placeholder="Enter Address"  [(ngModel)] = "selectedUser().address" name="address" required>
 
       <label for="NIC"><b> NIC Number</b></label>
       <input type="NIC" placeholder="Enter NIC"  [(ngModel)] = "selectedUser().nic" name="NIC" required>
       
       <button (click)="adduser()" type="reset">Clear</button>
       <button (click)="adduser()" type="button">Add New Bill</button>
       <button (click)="saveUser(event)" type="button">Save Bill</button>
 
    
     </div>
     
   </form>
   
 
   <!-- <table>
     <tr>
       <th>Userid</th>
       <th>Name</th>
       <th>Email</th>
       <th>Password</th>
       <th>Address</th>
       <th>Nic</th>
     </tr>
 
     <tr (click)="selectUser($index)" *ngFor="let item of values; index as $index">
       <td>{{item.userid}}</td>
       <td>{{item.name}}</td>
       <td>{{item.email}}</td>
       <td>{{item.password}}</td>
       <td>{{item.address}}</td>
       <td>{{item.nic}}</td>
     </tr>
 </table> -->