<style>

        input[type=text],input[type="month"],input[type="number"],input[type="date"], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */  
            height: 40px;   
            border: 1px solid #ccc; /* Gray border */
            border-radius: 1px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 4px; /* Add a top margin */
            margin-bottom: 20px; /* Bottom margin */
            /*resize: vertical  Allow the user to vertically resize the textarea (not horizontally) */
            }
    

            /* for the scrud opreations */
            /* ------------------------- */

             button[type=submit],[type=reset],[type=button] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }

            button[type=submit],[type=reset],[type=button]:hover {
            background-color: #45a049;
            }
    
            .container {
                border-radius: 5px;    
                margin-left: 250px;
                margin-top: 220px;
                margin-bottom: 50px;
                width: 30%;
                background-color: #8a8a8a;
                padding: 20px;
                position:absolute;
                z-index: -2;
            }
    
            label{
            display: block;
            }
    
                /* this is nav bar  */
        ul {
            list-style-type: none;
            margin-top:104px;
            margin-left:0px;
            position: fixed;
            width: 100%;
            /* margin-left:180px; */
            overflow: hidden;
            background-color: #333;
            z-index: -1;
        }
    
        li {
            float: right;
        }
    
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 7px 16px;
            /* padding: 14px 16px; */
            text-decoration: none;
        }
    
        li a.active
        {
        background-color: #ff0000;
            
        color: rgb(255, 255, 255);
        }
    
    
        li a:hover {
            background-color: rgb(247, 0, 0);
            /* background-color: #111; */
        }
     /* form title */
     title{
            text-align: center;
            position: relative;
      
        }
         h2{
           
            margin-top:150px;
            margin-bottom: 10px;
            position: absolute;
            margin-left: 650px;
            z-index: -2;
      
         }
    
      /* Table css */
      table {
          border-collapse: collapse;
          width: 50%;
          margin-left: 750px;
          margin-top: 200px;
          margin-bottom: 80px;
          /* Add these two lines */
          position:absolute;
          z-index: -2;
          /* position: left; */
      }
      
      th, td {
          padding: 8px;
          border: 1px solid #ddd;
          text-align: left;
          border-bottom: 1px solid #ddd;
      }
      
      th{
          background-color: darkgrey;
      }
      
      tr:hover {background-color:#f5f5f5;}
    
      </style>

<body>

<div class="header"> </div>
      
      
<ul>  
        <li><a routerLinkActive="active" routerLink="../prediction">Final Prediction</a></li>  
        <li><a routerLinkActive="active" routerLink="../electric-eq">Electric Equipments</a></li>
        <li><a routerLinkActive="active" routerLink="../predict-each-item">Predict Each Item</a></li>
        
    </ul>


<div class="title">
     <h2 align="center"><u> Enter Your Electric Equipments Details</u> </h2>
</div>
          

  <div class="container"> 

    <form *ngIf="selectedUser()">
  
     
  
      <label for="eqname">Equipment Name </label>
      <input type="text" id="eqname" name="eqname"  [(ngModel)] = "selectedUser().eq_name" placeholder="Please enter the Equipment Name...."  required>
  
      <label for="Manufacturer">Manufacturer</label>
      <input type="text" id="Manufacturer" name="Manufacturer" [(ngModel)] = "selectedUser().manufacturer" placeholder="Please enter the Manufacturer...." required>

      <label for="noofwatts">Number Of watts</label>
      <input type="number" id="noofwatts" name="noofwatts" [(ngModel)] = "selectedUser().noofwatts" placeholder="Please enter the Number Of watts...." required>

      <label for="noofitems">Number Of Items</label>
      <input type="number" id="noofitems" name="noofitems" [(ngModel)] = "selectedUser().noofitems" placeholder="Please enter the Number Of Items...." required>

      <label for="edate">Expire date</label>
      <input type="date" id="edate" name="edate" [(ngModel)] = "selectedUser().expiredate" placeholder="Please enter the Expire date...." required>

      <label for="noofhours">Number of Hours per day</label>
      <input type="number" id="noofhours" name="noofhours" [(ngModel)] = "selectedUser().noofhours" placeholder="Please enter the Number of Hours per day...." required>

      
      <button (click)="add()" type="button">Create  </button>
      <button (click)="save(event)" type="button">Add   </button>


      <input type="reset" value="Clear   ">


    </form>

  
</div>
<br>

<table>
  <tr>
    <th>No</th>
    <th>Equipment name</th>
    <th>Manufacturer</th>
    <th>Number Of watts</th>
    <th>Number Of Items</th>
    <th>Expire_date   </th>
    <th>Number of Hours per day</th>
  </tr>

  <tr (click)="selectUser($index)" *ngFor="let item of values; index as $index">
    <td>{{item.no}}</td>
    <td>{{item.eq_name}}</td>
    <td>{{item.manufacturer}}</td>
    <td>{{item.noofwatts}}</td>
    <td>{{item.noofitems}}</td>
    <td>{{item.expiredate}}</td>
    <td>{{item.noofhours}}</td>
    
    

</tr>
 
</table>



<!-- <div class="footer">
    <p>Copyright ©SLIIT-PDM-2018-WD-19. All Rights Reserved.</p>
</div> -->

</body>